@model bekami.Models.Order

@{ ViewData["Title"] = "Checkout"; }
<!-- slider Area Start-->
<div class="slider-area ">
    <!-- Mobile Menu -->
    <div class="single-slider slider-height2 d-flex align-items-center" style="background-image: url(/assets/img/hero/category.jpg)">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap text-center">
                        <h2>Checkout</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- slider Area End-->
<!--================Checkout Form Area =================-->
<section class="checkout_area section_padding">
    <div class="container">

        <div class="billing_details">
            <div class="row">
                <div class="col-lg-8" style="background:#f7f7f7;">
                    <br />
                    <i style="font-size:14px; color: #415094; font-weight: 500;">Shipping Details</i>

                    <form id="Summary" class="row contact_form" asp-action="Checkout" method="post">
                        <div class="col-md-6 form-group p_star">
                            <input asp-for="PhoneNumber" class="form-control" placeholder="Phone number">
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>
                        <div class="col-md-6 form-group p_star">
                            <input asp-for="Address" class="form-control" placeholder="Address line">
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>
                        <div class="col-md-6 form-group p_star">
                            <input asp-for="CreditCardNum" class="form-control" placeholder="Credit Card Number*">
                            <span asp-validation-for="CreditCardNum" class="text-danger"></span>
                        </div>
                        

                        <div class="col-md-12 form-group">
                        </div>
                        <div class="col-md-12 form-group">
                            <h2>Terms & Conditions</h2>
                            <p>
                                Please be nice!
                            </p>
                        </div>
                    </form>


                 

                


                <div class="col-lg-4">
                    <div class="order_box">
                        <i style="font-size:14px; color: #415094; font-weight: 500;">Your Order</i>
                        <div class="RetriveFromShoppingCartsTableUsingJS" id="insertHTML">
                        </div>

                        <a class="btn_3" id="Confirm" href="#" onClick="return false;">Order</a>
                    </div>
                </div>


            </div>
        </div>
    </div>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");
<script src="~/js/Checkout.js"></script>
    }
}
