/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

.line-chart {
    border: 1px solid lightgray;
}
a.navbar-brand {
    text-align: center;
    word-break: break-all;
    border-bottom: 10px hidden;
    margin-bottom: 5px;
    
}


.content {
    max-width: 800px;
    margin: auto;
}


.btn {
    color: #fff;
    background-color: rgb(200,173,126);
    border-color: #fff;
    opacity: 0.7;
    font-style: italic;
    justify-content: center;
    border-block-color: none;
}


.card btn:hover {
    opacity: 0.7;
}

li ::file-selector-button{
    color:rosybrown;
    
}

h1, h2, h3, h4, h5, h6 {
    font-family:fantasy;
    color: lightpink;
}

#map {
    height: 400px;
    width:400px;
}

.price {
    color: grey;
    font-size: 22px;
}


.card {
    border-width:10px;
    border-color: #d2c0a8;
    max-width: 300px;
    margin: 5px;
    text-align: center;
    font-family: arial;
}

.price {
    color: grey;
    font-size: 22px;
}


body {
    font-family: Arial;
    
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    
    background-color: #f4c5fc;
    border-color: #ebc7ed;
    lighting-color: brown;
    color:rosybrown;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  
}


.footer {
  bottom: 0;
  width: 100%;
  white-space: nowrap;
}
/*Search css design*/

.control-label {
    
    color: rgb(200,173,126);
    
}
/*home page design*/
.nav-link:any-link
{
    color:lightpink;
    opacity:1;
    
}
.nav-item::marker{

    color:saddlebrown;
 

}
.column {
    float: left;
    width: 50%;
    padding: 0 10px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

hr {
    clear: both;
    visibility: hidden;
}


.dropdown {
    position: relative;
    display: inline-block;
    
}

