@{
    ViewData["Title"] = "About us";
}
<h1>@ViewData["Title"]</h1>

<p > This site is a final project in Web Application Development course, fictive, 
    for illustration purposes, created by three B.Sc. students: Bella Vaizburg , Avihai Shapira and Mevorah Barabi.
</p>

