@model bekami.Models.Order

@{ ViewData["Title"] = "Checkout"; }
<!-- slider Area Start-->
<div class="slider-area ">
    <!-- Mobile Menu -->
    <div class="single-slider slider-height2 d-flex align-items-center" style="background-image: url(/assets/img/hero/category.jpg)">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap text-center">
                        <h2>Checkout</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- slider Area End-->
<!--================Checkout Form Area =================-->
<section class="checkout_area section_padding">
    <div class="container">

        <div class="billing_details">
            <div class="row">
                <div class="col-lg-8" style="background:#f7f7f7;">
                    <br />
                    <i style="font-size:14px; color: #415094; font-weight: 500;">Shipping Details</i>

                    <form id="DetailsForm" class="row contact_form" asp-action="Checkout" method="post">
                        <div class="col-md-12 form-group">
                        </div>
                        @*
                        <div class="col-md-6 form-group p_star">
                            <input asp-for="FirstName" class="form-control" placeholder="First name">
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                        <div class="col-md-6 form-group p_star">
                            <input asp-for="LastName" class="form-control" placeholder="Last name">
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                        <div class="col-md-6 form-group p_star">
                            <input asp-for="PhoneNumber" class="form-control" placeholder="Phone number">
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>
                        <div class="col-md-6 form-group p_star">
                            <input asp-for="Email" class="form-control" placeholder="Email">
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="col-md-6 form-group p_star">
                            <input asp-for="StreetAddress" class="form-control" placeholder="Adress line">
                            <span asp-validation-for="StreetAddress" class="text-danger"></span>
                        </div>
                        <div class="col-md-6 form-group p_star">
                            <input asp-for="City" class="form-control" placeholder="Town/City">
                            <span asp-validation-for="City" class="text-danger"></span>
                        </div>
                        <div class="col-md-6 form-group p_star">
                            <input asp-for="ZipCode" class="form-control" placeholder="Zip code*">
                            <span asp-validation-for="ZipCode" class="text-danger"></span>
                        </div>
                        <div class="col-md-6 form-group p_star">
                        </div>
                        <div class="col-md-4 form-group p_star">
                            <select asp-for="Country" class="country_select">
                                <option value="Israel">Israel</option>
                                <option value="USA">Untied States</option>
                            </select>
                        </div>
                        <div class="col-md-6 form-group p_star">
                        </div>
                        <div class="col-md-6 form-group p_star">
                            <input asp-for="CreditCardNum" class="form-control" placeholder="Credit Card Number*">
                            <span asp-validation-for="CreditCardNum" class="text-danger"></span>
                        </div>
                        *@

                        <!--================Terms&Conditions=================-->
                        <div class="col-md-12 form-group">
                        </div>
                        <div class="col-md-12 form-group">
                            <h2>Terms & Conditions</h2>
                            <p>
                             

                            </p>
                        </div>
                    </form>


                    <!--================Spaces=================-->
                    <div class="col-md-12 form-group">
                    </div>
                    <div class="col-md-12 form-group">
                    </div>
                    <div class="col-md-12 form-group">
                    </div>

                    <!--================Logos=================-->
                    <div class="col-md-12 form-group">
                        <div class="row justify-content-center">
                            <div class="col-lg-3 col-sm-6">
                                <div class="single_feature_part">
                                    <img src="~/assets/img/icon/feature_icon_1.svg" alt="#">
                                    <h4>Credit Card Support</h4>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <div class="single_feature_part">
                                    <img src="~/assets/img/icon/feature_icon_2.svg" alt="#">
                                    <h4>Online Order</h4>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <div class="single_feature_part">
                                    <img src="~/assets/img/icon/feature_icon_3.svg" alt="#">
                                    <h4>Free Delivery</h4>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <div class="single_feature_part">
                                    <img src="~/assets/img/icon/feature_icon_4.svg" alt="#">
                                    <h4>Product with Gift</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--================END FORM=================-->

                </div>


                <!--================RIGHT SIDE Table Items List=================-->
                <div class="col-lg-4">
                    <div class="order_box">
                        <i style="font-size:14px; color: #415094; font-weight: 500;">Your Order</i>
                        <div class="RetriveFromShoppingCartsTableUsingJS" id="insertHTML">
                            <!--================This are will be inserted from Table.html with JS beacause dealing with 2 models(cart+Orders) is 2 much=================-->
                        </div>

                        <a class="btn_3" id="Confirm" href="#" onClick="return false;">Order</a>
                    </div>
                </div>


            </div>
        </div>
    </div>
</section>
<!--================End Checkout Area =================-->
<!--================End Checkout Area =================-->
<div id="dialog-message" title="Nice Try">
    <p>
        <span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 50px 0;"></span>
        It appears you're trying to checkout after your cart has been modified...
    </p>
    <p>
        <b>Lets view your cart once more and try again</b>.
    </p>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");
<script src="~/js/Checkout.js"></script>
    }
}
